venv/
migrations/
app/__pycache__/
app/entity/__pycache__/
app/resources/__pycache__/
app/schema/__pycache__/
rpc/messages/__pycache__/
rpc/messages/type/__pycache__/
rpc/services/__pycache__
app/*.pyc
app/entity/*.pyc
app/resources/*.pyc
app/schema/*.pyc
rpc/*.pyc
rpc/messages/*.pyc
rpc/messages/type/*.pyc
rpc/services/*.pyc
./*.pyc
